#submitButton {
    background-color: green;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 5px;

}

#clearDone {
    background-color: yellow;
    color: black;
    font-weight: bold;
    padding: 5px;
}

#clearAll {
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 5px;
}

li {
    border: .5px solid black;
    padding: 5px;
}

body {
    background-color: blanchedalmond;
}

h1 {
    text-align: center;
}